.App {
	background-color: Silver;
}

.mainBox {
	max-width: 350px !important;
	background-color: black;
}

.button {
	border-radius: 0px !important;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

.buttonEqual {
	height: 100%;
	width: 100%;
}
